<div class="master-header">
  <div class="ui transparent inverted main menu page grid">
    <div class="two wide logo column header-container">
      <a class="pic" href="">
        <img class="ui image" src="<%= image_path('common/square_icon_transparent.png') %>">
      </a>
      <a class="name" href="front.html">Kipalink</a>
    </div>
    <div class="fourteen wide right menu column header-container">
      <!-- Right -->
      <a class="item" href="front.html">
        tin mới
      </a>
      <a class="item" href="front.html">
        bình luận
      </a>
      <a class="item" href="front.html">
        đăng tin
      </a>

      <% if user_signed_in? %>
      <a class="right item" href="">
        <%= current_user.name %>
      </a>
      <% else %>
      <a class="right item" href="">
        đăng nhập / đăng ký
      </a>
      <% end %>
    </div>
  </div>
</div>


<div class="master-body">
  <div class="ui page grid">
    <div class="column feed-col">
      <ol start="1"> <!-- Set this value to 31,61... due to paging -->

        <!-- Item -->
        <li class="item">
          <div class="main">
            <i class="counterclockwise rotated play icon"></i>
            <a href="" class="title" target="_blank">
              Gmail triển khai tính năng mới
              <span class="source">
                (google.com)
              </span>
            </a>
          </div>
          <div class="meta">
            <span class="point">
              103 hay
            </span>
            <span class="wrote">
              đăng bởi
            </span>
            <a href="" class="author">
              huydx
            </a>
            <a href="item.html" class="time">
              5 giờ trước
            </a>
            <spanclass="divider">
              |
</span>
<a href="item.html" class="comments">
  21
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      AngularJS 2.0
      <span class="source">
        (angularjs.org)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      77 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      talzeus
    </a>
    <a href="item.html" class="time">
      3 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  11
  bình luận
</a>
</div>
</li>

<!-- Voted Item -->
<li class="item voted">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      Apple mua lại hãng tai nghe Beats
      <span class="source">
        (apple.com)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      42 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      Vũ Nhật Minh
    </a>
    <a href="item.html" class="time">
      2 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  16
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      DigitalOcean có thực sự nhanh
      <span class="source">
        (digitalocean.com)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      41 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      My Mai
    </a>
    <a href="item.html" class="time">
      2 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  12
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      MoneyLover: Thành công nhờ theo sát bước chân người dùng
      <span class="source">
        (action.vn)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      31 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      Huy Trần
    </a>
    <a href="item.html" class="time">
      2 giờ trước
      <!-- </a> -->
      <spanclass="divider">
        |
</span>
<a href="item.html" class="comments">
  24
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      Trở lại cơ bản: Oauth 2
      <span class="source">
        (kipalog.com)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      49 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      huydx
    </a>
    <a href="item.html" class="time">
      1 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  32
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      Làm thế nào để viết blog kĩ thuật?
      <span class="source">
        (kipalog.com)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      81 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      Huy Trần
    </a>
    <a href="item.html" class="time">
      1 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  59
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      Khởi nghiệp công nghệ: Founder nên “nhạy” về tiền hay công nghệ ?
      <span class="source">
        (action.vn)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      18 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      talzeus
    </a>
    <a href="item.html" class="time">
      1 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  12
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      Bạn có hiểu rõ về CSS hay không :)
      <span class="source">
        (kipalog.com)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      12 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      Vũ Nhật Minh
    </a>
    <a href="item.html" class="time">
      1 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  37
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      YCombinator Fellowship
      <span class="source">
        (ycombinator.com)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      119 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      Vũ Nhật Minh
    </a>
    <a href="item.html" class="time">
      1 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  97
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      Gmail triển khai tính năng mới
      <span class="source">
        (google.com)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      103 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      huydx
    </a>
    <a href="item.html" class="time">
      5 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  21
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      AngularJS 2.0
      <span class="source">
        (angularjs.org)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      77 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      talzeus
    </a>
    <a href="item.html" class="time">
      3 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  11
  bình luận
</a>
</div>
</li>

<!-- Voted Item -->
<li class="item voted">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      Apple mua lại hãng tai nghe Beats
      <span class="source">
        (apple.com)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      42 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      Vũ Nhật Minh
    </a>
    <a href="item.html" class="time">
      2 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  16
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      DigitalOcean có thực sự nhanh
      <span class="source">
        (digitalocean.com)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      41 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      My Mai
    </a>
    <a href="item.html" class="time">
      2 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  12
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      MoneyLover: Thành công nhờ theo sát bước chân người dùng
      <span class="source">
        (action.vn)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      31 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      Huy Trần
    </a>
    <a href="item.html" class="time">
      2 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  24
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      Trở lại cơ bản: Oauth 2
      <span class="source">
        (kipalog.com)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      49 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      huydx
    </a>
    <a href="item.html" class="time">
      1 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  32
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      Làm thế nào để viết blog kĩ thuật?
      <span class="source">
        (kipalog.com)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      81 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      Huy Trần
    </a>
    <a href="item.html" class="time">
      1 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  59
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      Khởi nghiệp công nghệ: Founder nên “nhạy” về tiền hay công nghệ ?
      <span class="source">
        (action.vn)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      18 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      talzeus
    </a>
    <a href="item.html" class="time">
      1 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  12
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      Bạn có hiểu rõ về CSS hay không :)
      <span class="source">
        (kipalog.com)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      12 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      Vũ Nhật Minh
    </a>
    <a href="item.html" class="time">
      1 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  37
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      YCombinator Fellowship
      <span class="source">
        (ycombinator.com)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      119 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      Vũ Nhật Minh
    </a>
    <a href="item.html" class="time">
      1 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  97
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      Gmail triển khai tính năng mới
      <span class="source">
        (google.com)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      103 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      huydx
    </a>
    <a href="item.html" class="time">
      5 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  21
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      AngularJS 2.0
      <span class="source">
        (angularjs.org)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      77 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      talzeus
    </a>
    <a href="item.html" class="time">
      3 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  11
  bình luận
</a>
</div>
</li>

<!-- Voted Item -->
<li class="item voted">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      Apple mua lại hãng tai nghe Beats
      <span class="source">
        (apple.com)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      42 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      Vũ Nhật Minh
    </a>
    <a href="item.html" class="time">
      2 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  16
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      DigitalOcean có thực sự nhanh
      <span class="source">
        (digitalocean.com)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      41 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      My Mai
    </a>
    <a href="item.html" class="time">
      2 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  12
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      MoneyLover: Thành công nhờ theo sát bước chân người dùng
      <span class="source">
        (action.vn)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      31 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      Huy Trần
    </a>
    <a href="item.html" class="time">
      2 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  24
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      Trở lại cơ bản: Oauth 2
      <span class="source">
        (kipalog.com)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      49 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      huydx
    </a>
    <a href="item.html" class="time">
      1 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  32
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      Làm thế nào để viết blog kĩ thuật?
      <span class="source">
        (kipalog.com)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      81 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      Huy Trần
    </a>
    <a href="item.html" class="time">
      1 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  59
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      Khởi nghiệp công nghệ: Founder nên “nhạy” về tiền hay công nghệ ?
      <span class="source">
        (action.vn)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      18 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      talzeus
    </a>
    <a href="item.html" class="time">
      1 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  12
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      Bạn có hiểu rõ về CSS hay không :)
      <span class="source">
        (kipalog.com)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      12 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      Vũ Nhật Minh
    </a>
    <a href="item.html" class="time">
      1 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  37
  bình luận
</a>
</div>
</li>

<!-- Item -->
<li class="item">
  <div class="main">
    <i class="counterclockwise rotated play icon"></i>
    <a href="" class="title" target="_blank">
      YCombinator Fellowship
      <span class="source">
        (ycombinator.com)
      </span>
    </a>
  </div>
  <div class="meta">
    <span class="point">
      119 hay
    </span>
    <span class="wrote">
      đăng bởi
    </span>
    <a href="" class="author">
      Vũ Nhật Minh
    </a>
    <a href="item.html" class="time">
      1 giờ trước
    </a>
    <spanclass="divider">
      |
</span>
<a href="item.html" class="comments">
  97
  bình luận
</a>
</div>
</li>

</ol>

<!-- Next page -->
<div class="next">
  <a href="" class="more">
    Xem tiếp
  </a>
</div>

</div>
</div>

</div>
